<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div class="bg-gray-100 shadow-xl rounded w-[32rem] px-12 pt-6 pb-8 m-8 mt-8">
<p>Added expenses will pop here</p>

<div class="flex">
      <div style="overflow-y: scroll; height: 40vh">

{#          Here we go   #}
{#        <div#}
{#          class="bg-green-100 flex w-[40vw] text-right border-green-200 border-2 rounded-md px-3 py-2 m-8 mt-2 mb-2"#}
{#        >#}
{#          <span class="w-[12%] mb-4 text-[0.6rem] text-blue-800 mr-8"#}
{#            >2022/11/26</span#}
{#          >#}
{#          <span class="w-[30%]">Salary</span>#}
{#          <span class="w-[30%]"></span>#}
{#          <span class="w-[20%] float-right">Rs 30000</span>#}
{#        </div>#}
      </div>


{#      <div class="stats px-8 py-2 m-8 mt-8">#}
{#        <div class="font-bold text-2xl">Stats for the month</div>#}
{#        <div></div>#}
{#      </div>#}
</div>
</div>
</body>
</html>
