<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link href="../static/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Staatliches&display=swap"
      rel="stylesheet"
    />
    <title>Dashboard Page</title>
  </head>
  <body class="bg-gray-100">
    {% include 'navbar.html' %}
    <div class="text-center mt-10">
      <h2 class="text-2xl">👋 Hey there !... 👋</h2>
      <p class="text-lg font-semibold">
        Welcome to the best platform to track your expense
      </p>
    </div>
    <div>
      <div>
        <div class="flex">
          {%  'addTransaction.html' %} {%  'setTrigger.html' %}
        </div>
        {%  'transactionList.html' %}
      </div>

      <div class="ml-96 mr-96 mt-10 mb-40">
        <h2 class="text-center">Graphical view of your expense</h2>
        {% include 'graph.html' %}
      </div>

      <div class="-mt-20 -ml-10">
        <div
          class="progress mb-40 bg-gray-100 shadow-xl rounded w-[32rem] px-12 pt-6 pb-8 ml-8 mr-8 -mt-80"
        >
          <div class="font-bold text-2xl">Complete User Stats</div>
          <div class="w-[30vw] mt-4">
            <div>
              <div class="mb-1 text-lg font-medium text-black">
                Expense Progress Entered
              </div>
              <div class="w-full h-6 bg-gray-300 rounded-full dark:bg-gray-700">
                <div
                  class="h-6 bg-red-600 rounded-full dark:bg-red-500"
                  style="width: 73%"
                ></div>
                <span class="mb-1 text-xs float-right pr-2 pt-2"
                  ><b>Balance: </b>{{Balance}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      window.watsonAssistantChatOptions = {
        integrationID: "4256eb60-32b5-4dae-a877-7178860e8cd6", // The ID of this integration.
        region: "au-syd", // The region your integration is hosted in.
        serviceInstanceID: "361cebc5-c33e-4124-b435-4e9ee8848612", // The ID of your service instance.
        onLoad: function (instance) {
          instance.render();
        },
      };
      setTimeout(function () {
        const t = document.createElement("script");
        t.src =
          "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" +
          (window.watsonAssistantChatOptions.clientVersion || "latest") +
          "/WatsonAssistantChatEntry.js";
        document.head.appendChild(t);
      });
    </script>
  </body>
</html>
