<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <title>Login Page</title>
  </head>
  <body class="bg-blue-100">
    <div
      class="bg-gradient-to-r from-purple-500 to-pink-500 min-h-screen flex flex-col"
    >
      <div
        class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2"
      >
        {% if error %}
        <div
          class="bg-red-100 border-red-200 border-2 rounded-md p-2 mt-2 mb-2 w-full text-center"
        >
          {{error}}
        </div>
        {% endif %}
        <form
          class="bg-white px-6 py-8 rounded shadow-md text-black w-full"
          method="POST"
        >
          <h2 class="text-center font-bold text-4xl m-4">👋 Hey user 👋</h2>
          <p class="text-center">Already a member lets</p>
          <h1 class="mt-4 mb-8 text-3xl text-center font-bold" href="dashboard">
            Login
          </h1>
          <input
            type="text"
            class="block border border-gray-light w-full p-3 rounded mb-4"
            name="email"
            placeholder="Email"
          />

          <input
            type="password"
            class="block border border-gray-light w-full p-3 rounded mb-4"
            name="password"
            placeholder="Password"
          />

          <button
            type="submit"
            class="w-full text-center py-3 rounded bg-gradient-to-r from-violet-500 to-fuchsia-500 text-white hover:bg-gradient-to-l from-fuchsia-500 to-violet-500 hover:border-2 hover:border-rose-500 focus:outline-none my-1"
          >
            Login
          </button>
        </form>

        <div class="text-gray-dark mt-6 flex">
          Don't have an account?
          <a
            class="ml-2 no-underline border-b border-blue text-blue"
            href="/signup"
          >
            <p class="font-bold text-white">Signup</p>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
