<form method="POST" class="bg-gray-100 shadow-xl rounded-xg relative w-[12.5rem] px-4 pt-2 pb-4 m-8 mt-6">
    <div class="mt-8">
        <input type="hidden" id="t_type" name="t_type" value="set_trigger"/>
        <span class="text-xl text-gray-300 font-bold">Alert when</span>
        <span class="text-xl text-gray-300 font-bold">spending</span>
        <span class="text-xl text-gray-300 font-bold">reaches</span>
        <div class="flex mt-4">
            <input type="range" min="0" max="100" value="100" class="w-full mt-4" />
        </div>
    </div>
    <span class="text-xs absolute bottom-0 right-0 mb-2 mr-2 float-right">Current reminder at 100%</span>
</form>   